{% extends 'base.html.twig' %}

{% block body %}
    <h2>Connexion</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {% for error in form.username.vars.errors %}
                    <div class="text-danger">{{ error.message }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                {% for error in form.password.vars.errors %}
                    <div class="text-danger">{{ error.message }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endblock %}
